<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
   <br><br>
   <div class="row">
   <div class="col-md-5">
   <br>
   <img class="img-fluid" src="/static/image/q1.jpg" alt="" style="width:90%; height:80%">
   <br><br>
   <h3 class="card-title text-center">Casio watches</h3>
   </div>
   <div class="col-md-7 shadow-lg p-3 mb-5 bg-white rounded">
       <h1 class="my-3">WHO WE ARE.</h1>
       <p class="lead">There's nothing cookie-cutter about Casio Watch shop. Not our watches. Not our people.
And definitely not the way we live life. Around here, we don't settle for anything less watch we're proud to show.
And we don't just clock in. Not when we can also become our best. We're the watch company that lives life unboxed.
       </p>
       <h1 class="my-3">WHAT WE'RE ABOUT.</h1>
       <p class="lead">
       At Casio Watch Shop, we don't just make watch. we make people happy.With more than 11 years of experience under our belts, we understood how to best show our
customers through tried and true service principles:We create watch we're proud to show and deliver it fast, with a smile.
       </p>
    </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>