{% extends 'ecom/base.html' %}
{% load static %}
{% block content %}
<div class="container">
<br> <br>
 <div class="row">
   <div class="col-md-5">
   <br>
   <img class="img-fluid" src="{{product.image.url}}" alt="" style="width:90%; height:60%">
   <br><br>
   <h3 class="card-title text-center">{{product.name}}</h3>
   </div>
   <div class="col-md-7 shadow-lg p-3 mb-5 bg-white rounded" style="height:70%">
   <h1 class="my-3"> Watch Description </h1>
   <p class="lead">{{product.desc}}</p>
   <h1 class="my-3">Watch Details</h1>
   <ul>
   <li> Price: {{product.price}}</li>
   <li> Category: {{product.category}}</li>
   </ul>
   </div>
</div>

{% endblock content %}
